<div class="app-tvshow-list">
  <div class="app-tvshow-list__all-shows"
       fxLayout="row wrap"
       fxLayoutAlign="center center"
       *ngIf="allShows">
    <div *ngFor="let tvShow of tvShows">
      <app-tv-show-list-item [tvShow]="tvShow">
      </app-tv-show-list-item>
    </div>
  </div>
</div>

<div class="app-tvshow-list">
  <div class="app-tvshow-list__category-shows"
       fxLayout="row"
       *ngIf="!allShows">
    <div *ngFor="let tvShow of tvShows">
      <app-tv-show-list-item [tvShow]="tvShow">
      </app-tv-show-list-item>
    </div>
  </div>
</div>
