<div class="app-header mat-typography">
  <div class="app-header__container"
       fxLayout.xs="column"
       fxLayout.gt-xs="row"
       fxLayoutAlign.xs="center center"
       fxLayoutAlign.gt-xs="flex-start center">
    <span class="app-header__title">TV Shows</span>
    <div class="app-header__links">
      <a class="app-header__header"
         routerLink="/all-shows"
         [routerLinkActive]="'app-header__header--active-link'">All Shows</a>
      <span>&nbsp;|&nbsp;</span>
      <a class="app-header__header"
         routerLink="/categorised-shows"
         [routerLinkActive]="'app-header__header--active-link'">Categorised Shows</a>
    </div>
  </div>
</div>
