@import "../../../../styles/default.scss";

.app-header {
  &__container {
    background-color: var(--color-accent);
    color: #333;
    height: 64px;
  }

  &__title {
    margin: 0 15px;
    font-weight: 400;
    font-size: 20px;
  }

  &__links {
    margin-top: $margin-medium-x;
    font-weight: 200;
    font-size: 16px;
  }

  &__header {
    cursor: pointer;
    outline: none;
    color: var(--color-primary);
    text-decoration: none;
    &--active-link {
      font-weight: bold;
    }
  }
}
