<app-spinner [loading]="loading"></app-spinner>
<div *ngIf="!loading">
  <div class="app-tv-show-category-list"
       *ngFor="let key of categoryKeys">
    <h1 *ngIf="key; else elseBlock"
        class="app-tv-show-category-list__category-name">{{ key }}</h1>
    <app-tv-shows-list [tvShows]="tvShowsByCategory[key]"></app-tv-shows-list>
  </div>
</div>
<ng-template #elseBlock>
  <h1 class="app-tv-show-category-list__category-name">Unknown
  </h1>
</ng-template>
