@import "../../../../styles/default.scss";

.app-tvshow-list-details {
  margin: $margin-large;

  &__container {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }

  &__main-detaills {
    padding: $padding-small;
    margin-bottom: $margin-medium;
    background-color: var(--color-warn);
    &--genres {
      &:last-child span {
        display: none;
      }
    }
    &--img {
      margin-bottom: $margin-large;
    }
  }

  &__cast-details {
    margin-bottom: $margin-medium;
    width: 200px;
  }

  &__back-button {
    cursor: pointer;
    color: var(--color-primary);
    margin: 15px 0 15px;
    &--icon {
      margin-top: 2px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
