<app-spinner [loading]="loading"></app-spinner>
<div class="app-tvshow-list-details mat-typography"
     *ngIf="!loading">

  <div class="app-tvshow-list-details__back-button">

    <button mat-raised-button
            color="primary"
            (click)="naviagteToPreviousPage()">
      <mat-icon matSuffix
                class="app-tvshow-list-details__back-button--icon">keyboard_backspace
      </mat-icon>
      Back
    </button>
  </div>

  <div class="app-tvshow-list-details__container"
       fxLayout.gt-xs="row"
       fxLayout.xs="column"
       fxLayoutGap.gt-xs="20px">
    <div class="app-tvshow-list-details__details-container">
      <div class="app-tvshow-list-details__main-detaills"
           fxLayout="row wrap"
           fxLayoutGap.gt-xs="20px"
           fxLayoutAlign.xs="center"
           fxLayoutAlign.gt-xs="flex-start">
        <div fxLayout="row"
             ngClass.xs="app-tvshow-list-details__main-detaills--img">
          <img [src]="showDetails?.image?.medium">
        </div>

        <div fxLayout="column"
             fxLayoutAlign.xs="center center">
          <h2>{{showDetails?.name}}</h2>
          <p>
            <span>{{showDetails?.rating?.average}}/10</span>
          </p>

          <p>
            <span>Language</span>:
            <span>{{ showDetails?.language }}</span>
          </p>
          <p>
            <span>Premiered</span>:
            <span>{{ showDetails?.premiered }}</span>
          </p>
          <p>
            <span>Runtime</span>:
            <span>{{ showDetails?.runtime }}</span>
          </p>
          <p>
            <span>Status</span>:
            <span>{{ showDetails?.status }}</span>
          </p>
          <p>
            <span>Type</span>:
            <span>{{ showDetails?.type }}</span>
          </p>
          <p>
            <span>Genre</span>:
            <span *ngFor="let genre of showDetails?.genres"
                  class="app-tvshow-list-details__main-detaills--genres">
              {{ genre }}
              <span>|</span>
            </span>
          </p>
        </div>
      </div>
      <div class="app-tvshow-list-details__show-summary">
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Summary</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHTML]="showDetails?.summary"></p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Cast</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row wrap"
                 fxLayoutGap="20px">
              <mat-card class="app-tvshow-list-details__cast-details"
                        *ngFor="let cast of showDetails?._embedded?.cast">
                <mat-card-header>
                  <div mat-card-avatar>
                    <img [src]="cast?.person?.image?.medium"
                         height="50">
                  </div>
                  <mat-card-title>{{cast?.person?.name}}</mat-card-title>
                </mat-card-header>
              </mat-card>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Seasons</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row wrap"
                 fxLayoutGap="20px">
              <mat-card class="app-tvshow-list-details__cast-details"
                        *ngFor="let season of seasonDetails">
                <mat-card-header>
                  <div mat-card-avatar>
                    <img [src]="season?.image?.medium"
                         height="50">
                  </div>
                  <mat-card-title>Season {{season?.number}}</mat-card-title>
                  <mat-card-subtitle>{{season?.premiereDate}}</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
