@import "../../../../styles/default.scss";

@mixin color {
  color: var(--color-primary);
}

.app-tv-show-item {
  margin: $margin-medium-x;
  cursor: pointer;

  &__name {
    @include color();
    font-weight: 500;
  }

  &__rating {
    @include color();
    font-size: 11px;
  }
}

.app-tv-show-item:hover {
  transition: all 0.4s ease;
  background: var(--color-warn);
  padding: $padding-medium;
}
