<div class="app-tv-show-item"
     (click)="navigateToShowDetail(tvShow.id)">
  <img [src]="tvShow?.image?.medium">
  <div fxLayout="column"
       fxLayoutAlign="center center">
    <div class="app-tv-show-item__name">{{tvShow?.name}}</div>
    <div class="app-tv-show-item__rating"
         *ngIf="tvShow?.rating?.average">Rating: {{ tvShow?.rating?.average }}/10</div>
  </div>
</div>
