@import "../../styles/default.scss";

.app-root {
  &__content {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 900px;
    border-radius: 5px;
    margin-top: $margin-xxxxlarge-x;
    margin-bottom: $margin-large;
    padding: $padding-small;
  }
}
