@import "../../../../styles/default.scss";

.app-shows-search {
  &__form-field {
    width: 33%;
    padding-top: $margin-large;
  }

  &__form-field--xs {
    width: 100%;
    margin: 0 $margin-medium;
  }

  &__form-field-search-item-image {
    vertical-align: middle;
    margin-right: $margin-large-x;
  }
}
