<div class="app-shows-search"
     fxLayout="row"
     fxLayoutAlign="center">
  <mat-form-field class="app-shows-search__form-field"
                  ngClass.xs="app-shows-search__form-field--xs">
    <mat-label>Search Specific Show</mat-label>
    <mat-icon matSuffix
              color="primary">search
    </mat-icon>
    <input type="text"
           matInput
           [(ngModel)]="searchText"
           (input)="searched()"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete"
                      [displayWith]="displayFn">
      <mat-option *ngFor="let option of searchOptions"
                  [value]="option.show.name"
                  (click)="showSelected(option.show)">
        <img class="app-shows-search__form-field-search-item-image"
             aria-hidden
             [src]="option?.show?.image?.medium"
             height="30">
        <span>{{option.show.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
