//padding
$base-padding: 5px;
$padding-small: $base-padding;
$padding-medium: $base-padding * 2;
$padding-large: $base-padding * 4;
$padding-xlarge: $base-padding * 6;
$padding-xxlarge: $base-padding * 8;
$padding-xxxlarge: $base-padding * 12;

//margin
$base-margin: 5px;
$margin-small: $base-margin;
$margin-medium: $base-margin * 2;
$margin-large: $base-margin * 4;
$margin-xlarge: $base-margin * 6;
$margin-xxlarge: $base-margin * 8;
$margin-xxxlarge: $base-margin * 12;

//padding 2 multiples
$base-padding-x: 2px;
$padding-small-x: $base-padding-x;
$padding-medium-x: $base-padding-x * 2;
$padding-large-x: $base-padding-x * 4;
$padding-xlarge-x: $base-padding-x * 6;
$padding-xxlarge-x: $base-padding-x * 8;

//margin 2 multiples
$base-margin-x: 2px;
$margin-small-x: $base-margin-x;
$margin-medium-x: $base-margin-x * 2;
$margin-large-x: $base-margin-x * 4;
$margin-xlarge-x: $base-margin-x * 6;
$margin-xxlarge-x: $base-margin-x * 8;
$margin-xxxlarge-x: $base-margin-x * 10;
$margin-xxxxlarge-x: $base-margin-x * 12;
