@use '@angular/material' as mat;

@include mat.legacy-core();

$tvshow-theme-primary: mat.define-palette(mat.$teal-palette, 900);
$tvshow-theme-accent: mat.define-palette(mat.$teal-palette, 200);
$tvshow-theme-warn: mat.define-palette(mat.$teal-palette, 100);


$tvshow-theme: mat.define-light-theme((
 color: (
   primary: $tvshow-theme-primary,
   accent: $tvshow-theme-accent,
   warn: $tvshow-theme-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.button-theme($tvshow-theme);

@include mat.all-component-themes($tvshow-theme);

$primary: map-get($tvshow-theme, primary);
$accent: map-get($tvshow-theme, accent);

:root {
  --color-primary: #{mat.get-color-from-palette($tvshow-theme-primary)};
  --color-accent: #{mat.get-color-from-palette($tvshow-theme-accent)};
  --color-warn: #{mat.get-color-from-palette($tvshow-theme-warn)};
}
